@model Chat.Models.LoginModel

@{
    ViewBag.Title = "Página inicial";
}

<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
        <p>
            Algumas apresentações aqui bv
        </p>
    </div>
</section>

<h3>Aqui alguns itens enumerados:</h3>
<ol class="round">
    <li class="one">
        <h5>Item enumerado 1</h5>
        Explicações 1
        <a href="#">Link 1...</a>
    </li>

    <li class="two">
        <h5>Item enumerado 2</h5>
        Explicações 2
        <a href="#">Link 2...</a>
    </li>

    <li class="three">
        <h5>Item enumerado 3</h5>
        Explicações 3
        <a href="#">Link 3...</a>
    </li>
</ol>
